<mat-toolbar class="toolbar">
  <span>Book CRUD</span>
</mat-toolbar>
<div *ngIf="active; else inactive">
  <div style="margin: 10px 0; text-align: right">
    <button mat-raised-button color="primary" (click)="new()">
      <mat-icon>add</mat-icon>Nuevo
    </button>
  </div>
  <div class="marginFilter">
    <mat-form-field appearance="fill" >
      <mat-label translate="">Buscar</mat-label>
      <mat-icon matSuffix >search</mat-icon>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Busqueda"
        #input
      />
    </mat-form-field>
  </div>
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="action">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by number"
      >
        Acciones
      </th>
      <td mat-cell *matCellDef="let element">
        <button mat-mini-fab color="primary" (click)="editBook(element.id)">
          <mat-icon>create</mat-icon>
        </button>
        <button mat-mini-fab color="primary" (click)="deleteBook(element.id)">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </td>
    </ng-container>
    <!-- Position Column -->
    <ng-container matColumnDef="nameBook">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
       
      >
        Nombre libro
      </th>
      <td mat-cell *matCellDef="let element">{{ element.nameBook }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="descriptionbook">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
      >
        Descripción
      </th>
      <td mat-cell *matCellDef="let element">{{ element.descriptionbook }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="authorbook">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
      >
        Autor
      </th>
      <td mat-cell *matCellDef="let element">{{ element.authorbook }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="publicationDate">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
      >
        Fecha publicación
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.publicationDate | date }}
      </td>
    </ng-container>
    <ng-container matColumnDef="numbercopies">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
      >
        # ejemplares
      </th>
      <td mat-cell *matCellDef="let element">{{ element.numberCopies }}</td>
    </ng-container>
    <ng-container matColumnDef="cost">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
      >
        Costo
      </th>
      <td mat-cell *matCellDef="let element">{{ element.cost }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  >
  </mat-paginator>
</div>

<!-- //muestra un formulario a llenar -->
<ng-template #inactive>
  <mat-card>
    <div class="contenedor">
      <h3 class="title">{{ title }}</h3>
      <form #f="ngForm">
        <mat-grid-list cols="2" rowHeight="60px">
          <mat-grid-tile>
            <mat-form-field>
              <mat-label>Nombre libro</mat-label>
              <input
                name="nameBook"
                ngModel
                required
                #input
                maxlength="150"
                placeholder="Nombre libro"
                matInput
                [(ngModel)]="bookModel.nameBook"
              />
              <mat-hint align="end"
                >{{ input.value?.length || 0 }}/150</mat-hint
              >
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <mat-label>Descripción</mat-label>
              <input
                name="descriptionbook"
                ngModel
                required
                placeholder="Descripción"
                matInput
                #input
                maxlength="300"
                [(ngModel)]="bookModel.descriptionbook"
              />
              <mat-hint align="end"
                >{{ input.value?.length || 0 }}/300</mat-hint
              >
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <mat-label>Autor</mat-label>
              <input
                name="authorbook"
                ngModel
                required
                placeholder="Autor"
                matInput
                #input
                maxlength="150"
                [(ngModel)]="bookModel.authorbook"
              />
              <mat-hint align="end"
                >{{ input.value?.length || 0 }}/150</mat-hint
              >
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="fill">
              <mat-label>Fecha publicación</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                name="publicationdate"
                ngModel
                required
                placeholder="Fecha publicación"
                matInput
                [min]="minDate"
                [(ngModel)]="bookModel.publicationDate"
                (change)="date($event)"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field>
              <mat-label># ejemplares</mat-label>
              <input
                name="numbercopies"
                ngModel
                required
                placeholder="# ejemplares"
                matInput
                type="text"
                step="any"
                #input
                maxlength="5"
                [(ngModel)]="bookModel.numberCopies"
                onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;"
              />
              <mat-hint align="end">{{ input.value?.length || 0 }}/5</mat-hint>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <mat-label>Costo</mat-label>
              <input
                name="cost"
                ngModel
                required
                placeholder="Costo"
                matInput
                #input
                step="0.0001"
                type="number"
                [(ngModel)]="bookModel.cost"
              />
              <mat-hint align="end">{{ input.value?.length || 0 }}/4</mat-hint>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
        <div>
          <ng-template #elseTemplate>
            <h2>Desea eliminar medicamento?</h2>
          </ng-template>
        </div>
      </form>
    </div>
    <div mat-dialog-actions style="margin: 0 auto; display: table">
      <button
        mat-raised-button
        (click)="close()"
        style="
          background: #ffffff;
          color: #000000;
          font-weight: bold;
          margin-right: 15px;
        "
      >
        Cancel
      </button>
      <button
        mat-raised-button
        (click)="submit(f)"
        [disabled]="f.invalid"
        style="font-weight: bold; background-color: #673ab7; color: white"
      >
        Guardar
      </button>
    </div>
  </mat-card>
</ng-template>
<router-outlet></router-outlet>
